[Desktop Entry]
Name=Password Generator
Name[fr]=Générateur de mots de passe
Comment=Génère des mots de passe robustes, entièrement hors ligne
Comment[fr]=Génère des mots de passe robustes, entièrement hors ligne
Exec=password-generator
Icon=fr.hastag.PasswordGenerator
Terminal=false
Type=Application
Categories=Utility;Security;
Keywords=password;security;generator;mot de passe;sécurité;
StartupNotify=true
